body{
    font: 16px/26px Arial sans-serif;
    background-color: antiquewhite;
    color: black;
}
.container{
    width: 960px;
    margin: auto;
    background-color: aliceblue;
}
.header{
    padding: 10px;
    padding-bottom: 1px;
}
.header .judul{
    font-size: 28px;
    font-weight: bold;
    
}
.header ul li{
    display: inline-block;
    margin-top: 10px;
    padding-right: 6px;
}
.header a{
    text-decoration: none;
    color: salmon;
    padding: 4px;
}
.header a:hover {
    color: white;
    background-color: crimson;
}
.gambar {
    height: 300px;
    background-image: url("eps1.jpg");
    background-size: cover;
    background-position: 0 -100;
    border-top: 5px solid burlywood;
    border-bottom: 5px solid burlywood;
}
.content {
    padding-left: 10px;
}
.content .judul{
    font-size: 15px;
    font-weight: bold;
}
.content .penulis{
    font-size: 11px;
    margin-top: -10;
}
.content .penulis a{
    color: salmon;
    text-decoration: none;
}
.content .penulis a:hover{
    color: whitesmoke;
    background-color: black;
}
.content p {
    margin-top: 20px;
}
.footer{
    background-color: black;
    padding: 1px;
}
.copy{
    color: white;
    text-align: center;

}