.content {
	width: 900px;
	height: 1000px;
	background-color: white;
	margin: 20px auto;
	padding: 20px 20px 20px 20px;
	border: 2px solid black;
}
.body{
	margin: 0px;
	padding: 0px;
	background-color: gray;
}
.gambar{
	width: 100px;
	height: 60px;
	display: block;
	float: left;
	margin-left: 197px;
}

.footer-atas{
	font-family: times new roman;
	font-size: 16px;
	text-align: center;
	margin: 28px;
}
.footer-atas ul{
	margin: auto;
	width: 940px;
	height: 60px;
	background: grey;
	padding: 6px 0;
	box-sizing: border-box;
}
.footer-atas ul li{
	display: inline-block;
	list-style: none;
	text-align: center;
	float: right;
}
.footer-atas ul li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 8px 20px;
	line-height: 30px;
	margin-right: 20px;
}



.footer-bottom p{
	font-family: times new roman;
	font-size: 16px;
	text-align: center;
}
.footer-bottom{
	margin: auto;
	width: 940px;
	height: 50px;
	background: grey;
	padding: 1px 0px;
	box-sizing: border-box;
}
.foto{
	width: 480px;
	height: 350px;
	display: block;
	float: left;
	margin-left: 440px;
	margin-top: 10px;
}
.icon{
	display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
}